
{{define "title"}}Blank Template{{end}}
{{define "head"}}
    {{CSS "/static/css/chat.css"}}
{{end}}
{{define "content"}}
	Our chat app
    {{JS "/static/js/chat.js"}}
{{end}}
{{define "foot"}}{{end}}