
{{define "title"}}Blank Template{{end}}
{{define "head"}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{CSS "/static/css/chat.css"}}
{{end}}
{{define "content"}}
	Our chat app
    {{JS_MODULE "/static/js/chat.js"}}
{{end}}
{{define "foot"}}{{end}}