:root {
    --bacground: #222;
    --background-textarea: #373737;
    --background-message: #373737;
    --button-defaut-color: #4a9bd5;
    /* --button-defaut-color: #60adab; */
    --text-color: #fafafa;
    --textarea-placeholder-color: #aaa;
    --user-list-total-color: #e57373;
    --user-list-background-mobile: #333;
}
.chat-container {
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: var(--bacground);
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.chat-room-list {
    width: 20%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    border-right: 1px solid #424242;
    border-left: 1px solid #424242;
    overflow-y: auto;
    background: var(--bacground);
}
.chat-room-list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.chat-room-list::-webkit-scrollbar-thumb {
    background-color: #eee;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
.chat-room-add-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #424242;
}
.chat-room-add-container-add-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--button-defaut-color);
    font-weight: lighter;
    font-size: 1.5em;
    line-height: 1.5em;
    box-shadow: 0px 2px 5px #444;
    cursor: pointer;
    user-select: none;
    margin: 0.5em 0;
}
.chat-room-add-container-inner {
    display: none;
    flex-direction: row;
    width: 100%;
    padding: 0 1rem;
}
.chat-room-add-input {
    width: calc(100% - 32px);
    color: var(--text-color);
    flex: 1;
    border-radius: 5px;
    border:0 ;
    box-shadow: 0px 2px 5px #444;
    padding:0 1rem;
    background: var(--background-textarea);
}
.chat-room-add-input::placeholder {
    color: var(--textarea-placeholder-color);
}
.chat-room-add-input:focus {
    outline: none;
}
.chat-room-add-button {
    width: 32px;
    height: 32px;
    background: var(--button-defaut-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    box-shadow: 0px 2px 5px #444;
    cursor: pointer;
}

.chat-room-list-row {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 32px auto min-content;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid #424242;
    cursor: pointer;
}
.chat-room-list-rom-permanent {

}
.chat-room-icon {
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    justify-self: center;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-room-list-row > span {
    flex: 1;
    padding-left: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #EEEEEE;
}
.chat-room-list-row[data-type='private'] > span {
    background: url("/static/assets/user.png");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position-x: 1rem;
    background-position-y: 50%;
    padding-left: 2.5rem;
}
.chat-room-last-message {
    grid-row-start: 2;
    grid-column-start: 2;
    padding-left: 1rem;
    font-size: 0.75em;
    color: #9E9E9E;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.chat-room-last-message-from {
    max-width: 50%;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1rem;
}
.chat-room-last-message-text {
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 1.5em;
}
.chat-room-join-indicator {
    background: #66BB6A;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    display: none;
    margin: 0 1em;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    align-self: center;
    justify-self: center;
}

.chat-tabs-container {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--bacground);
}

/* TODO scrollbars */
.chat-tabs-header-container {
    width: 100%;
    overflow-x: auto; 
    overflow-y: hidden;
    height: 3rem;
    background: var(--bacground);
    color: #FAFAFA;

    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-bottom: 1px solid #424242;
}
.chat-tabs-header-container::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 2px;
}
.chat-tabs-header-container::-webkit-scrollbar-thumb {
    background-color: #eee;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

.chat-tab-header {
    padding: 1rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 20%;

}
.chat-tab-header-menu-icon {
    display: none;
}
.chat-tab-header-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chat-tab-header[data-type='private'] .chat-tab-header-title {
    background: url("/static/assets/user.png");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position-y: 50%;
    padding-left: 2rem;
}
.chat-tab-header-active {
    background: var(--background-textarea);
    border-bottom: 1px solid #fff;
}
.chat-tab-header-close {
    color: #BF360C;
    font-weight: bold;
    margin-left: 1rem;
    text-align: center;
}
.chat-tab-inner-container {
    height: 100%;
    background: var(--bacground);
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 9fr 1fr;
}
/* hide user list on private */
.chat-tab-inner-container[data-type='private'] > .chat-user-list {
    display: none;
}
.chat-tab-inner-container[data-type='private'] > .chat-chat-inner {
    grid-column-end: 3;
}
.chat-tab-inner-container[data-type='private'] > .chat-input {
    grid-column-end: 3;
}

.chat-tab-message-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.chat-user-list {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    box-sizing: border-box;
    height: 100%;
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
    overflow-y: auto;
    background: var(--bacground);
    display: flex;
    flex-direction: column;
}
.chat-user-list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
}
.chat-user-list::-webkit-scrollbar-thumb {
    background-color: #eee;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.chat-user-list-total {
    position: sticky;
    top:0;
    text-align: center;
    color: var(--user-list-total-color);
    border-bottom: 1px solid #424242;
    padding: 0.25em;
    background: url("/static/assets/users.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 1rem;
    background-color: var(--bacground);
    z-index: 3020;
}
.chat-user-list-row {
    display: flex;
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #424242;
    cursor: pointer;
    background: url("/static/assets/private-message.png");
    background-size: 1rem;
    background-position-y: 50%;
    background-position-x: 0.5rem;
    background-repeat: no-repeat;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 4rem;
    white-space: nowrap;
}
.chat-user-list-row > span {
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat-user-list-row-mute {
    height: 1em;
    filter: grayscale() opacity(0.5);
    margin-left: 1em;
}
.chat-user-list-row[data-muted='true'] .chat-user-list-row-mute{
    filter: none;
}
.chat-user-list-row-mute:hover {
    filter: grayscale();
}

.chat-input {
    width: 90%;
    overflow: hidden;
    justify-self: center;
    margin: 1rem 0;
    height: min-content;
    color: #FAFAFA;
    /* background: #; */
    resize: none;
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;

}

.chat-input-textarea {
    margin: 1rem;
    flex: 1;
    color: var(--text-color);
    background: var(--background-textarea);
    border: 0;
    resize: none;
    padding: 0.5rem;
    border-radius: 10px;
}

.chat-input-textarea:focus {
    outline: none;
}
.chat-input-textarea::placeholder {
    color: var(--textarea-placeholder-color);
}
.chat-input-textarea::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.chat-input-textarea::-webkit-scrollbar-thumb {
    background-color: #eee;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.chat-input-image-preview {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 0 64px;

}
.chat-input-image-preview::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 7px;
}
.chat-input-image-preview::-webkit-scrollbar-thumb {
    background-color: #eee;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.chat-input-image-preview > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 5px;
    height: 64px;
    min-width: 64px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 2px #999;
    overflow:hidden;

}
.chat-input-image-preview > div > img {
    object-fit: contain;
    height: 64px;
    max-width: 256px;
}
.chat-input-image-preview-close {
    background: #222;
    color: #fff;
    position: absolute;
    top:0;
    right: 0;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0.75;
}
.chat-input-image-preview-uploaded {
    color: green;
    position: absolute;
    bottom:0;
    background: #222;
    color: #fff;
    width: 100%;
    overflow: hidden;
    height: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

.chat-input-upload {
    display: none !important;
}
.chat-input-image-upload {
    width: 1.5em;
    height: 1.5em;
    filter: invert();
    opacity: 0.75;
    cursor: pointer;
    margin-right: 0.5em;
}
.chat-input-image-upload:hover {
    opacity: 1;
}

.chat-input-emoji {
    width: 1.5em;
    height: 1.5em;
    filter: invert();
    opacity: 0.75;
    cursor: pointer;
}
.chat-input-emoji:hover {
    opacity: 1;
}

.chat-input-send-button {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--button-defaut-color);
    box-shadow: 0px 2px 5px #444;
    cursor: pointer;
}

.chat-chat-inner {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    grid-column-start: 1;
    grid-row-start: 1;
    border-bottom: 1px solid #424242;
    padding: 0 1rem;
}
.chat-chat-inner::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.chat-chat-inner::-webkit-scrollbar-thumb {
    background-color: #eee;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

.chat-message {
    font-size: 1em;
    padding: 0.75rem;
    margin: 0.5rem;
    width: fit-content;
    max-width: 50%;
    background: var(--background-message);
    color:var(--text-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.chat-message b {
    padding-right: 1rem;
    cursor: pointer;
}
.chat-message img {
    object-fit: contain;
    max-width: 100%;
}

.chat-system-message {
    font-size: 0.7em;
    padding: 0.5em;
    text-align: center;
}


@keyframes blink {
    50% {
      opacity: 0.5;
    }
}
.blink {
animation: blink 1s step-start 0s infinite;
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.animation_appear {
    animation: opacity 0.25s linear 0s;
}

.chat-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.chat-popup-inner {
    width: fit-content;
    max-width: 25%;
    height: fit-content;
    max-height: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FAFAFA;
    color: #222;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 2rem;
}
.chat-popup-close {
    margin-top: 1rem;
}

.emoji-picker__wrapper {
    z-index: 5000;
}

.emoji-picker__emojis {
    overflow-x: hidden;
}

.emoji-picker__emojis::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.emoji-picker__emojis::-webkit-scrollbar-thumb {
    background-color: #eee;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.image-popup {
    position: absolute;
    z-index: 6000;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
.image-popup-close {
    position: fixed;
    bottom: 32px;
    left: calc(50% + 64px);
    transform: translate(-50%);
    font-size: 32px;
    width: 64px;
    height: 64px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 15px;
}
.image-popup-zoom {
    position: fixed;
    bottom: 32px;
    left: calc(50% - 64px);
    transform: translate(-50%);
    font-size: 32px;
    width: 64px;
    height: 64px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 15px;

}
.image-popup-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    align-self: center;
    justify-self: center;
}
.image-popup-image-zoomed {
    grid-template-columns: unset;
    grid-template-rows: unset;
}
.image-popup-image-zoomed .image-popup-image {
    max-width: unset;
    max-height: unset;
}



@media (hover: none) {
    .chat-room-list {
        width: 100%;
        margin: 0 1rem;
        border:0;
    }

    .chat-tab-header-menu-icon {
        display: block;
        margin: 0 2rem;
    }
    .chat-tab-header-menu-icon > div{
        width: 35px;
        height: 4px;
        background-color: #fafafa;
        margin: 6px 0;
    }
    .chat-tab-header {
        display: none;
    }
    .chat-tab-header-active {
        display: flex;
        width: 100%;
        max-width: 100%;
        border-bottom: 0;
    }
    .chat-tabs-header-container {
        height: 10%;
    }
    .chat-tab-header-title {
        flex: 1;
    }
    .chat-tab-header-close {
        font-size: 200%;
        margin-right: 1rem;
    }
    .chat-hide {
        display: none;
    }
    .chat-popup-inner {
        max-width: 50%;
        max-height: 50%;
    }
}

@media (hover: none) and (orientation: portrait) {
    .chat-chat-inner {
        grid-column-end: 3;
    }
    .chat-input {
        grid-column-end: 3;
    }
    .chat-user-list {
        position: absolute;
        width: 90%;
        left: 5%;
        height: max-content;
        max-height: 50%;
        border-width: 0 1px 1px 1px;
        border-color: #424242;
        border-style: solid;
        background: var(--user-list-background-mobile);
        border-radius: 0 0 10px 10px;
    }
    .chat-user-list-total {

    }
    .chat-tab-header-title {
        background: url("/static/assets/users.png");
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 32px;
    }
    .emoji-picker__wrapper {
        bottom: 100px;
        top: unset !important;
    }
}

@media (hover: none) and (orientation: landscape) {
    .chat-room-list.chat-hide {
        display: initial;
    }
    .chat-user-list.chat-hide {
        display: initial;
    }
    .chat-room-list {
        max-width: 25%;
        border-right: 1px solid #424242;
        margin: 0;
    }
    .chat-tab-header-menu-icon {
        display: none;
    }
}